# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ========================
# Virtual Environments
# ========================
.venv/
venv/
env/
ENV/

# ========================
# Environment variables
# ========================
.env
.env.*
*.env

# ========================
# PyCharm / IDE
# ========================
.idea/
*.iml

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log

# ========================
# Test / temp files
# ========================
test_main.http
*.http

# ========================
# Build / cache
# ========================
.cache/
.mypy_cache/
.pytest_cache/
